# dependencies
asyncio
beautifulsoup4
colorama
duckduckgo_search
md2pdf
playwright
pandas
openai
python-dotenv
pyyaml
selenium
webdriver-manager
uvicorn
pydantic
fastapi
python-multipart
markdown
langchain
arxiv
PyMuPDF
tabulate
requests
jinja2
aiofiles
newspaper3k
numpy
git+https://github.com/willgbryan/langchain-reach-edition.git#subdirectory=libs/community&egg=langchain_community
SQLAlchemy
langchain-openai
mistune
python-docx
htmldocx
lxml[html_clean]
litellm
youtube-transcript-api
aiofiles 
